<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @passenger.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @passenger.password %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @passenger.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @passenger.address %>
</p>

<p>
  <strong>Credit number:</strong>
  <%= @passenger.credit_number %>
</p>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Logout', logout_path %> |
<%= link_to 'Delete Account', passenger_path(@passenger), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' } %>


<h2>Available Trains</h2>

<table>
  <thead>
  <tr>
    <th>Train Number</th>
    <th>Departure Station</th>
    <th>Termination Station</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Seats Left</th>
  </tr>
  </thead>
  <tbody>
  <% @trains.each do |train| %>
    <tr>
      <td><%= train.train_number %></td>
      <td><%= train.departure_station %></td>
      <td><%= train.termination_station %></td>
      <td><%= train.departure_date %></td>
      <td><%= train.departure_time.strftime("%H:%M:%S %Z") %></td>
      <td><%= train.arrival_date %></td>
      <td><%= train.arrival_time.strftime("%H:%M:%S %Z") %></td>
      <td><%= train.ticket_price %></td>
      <td><%= train.seats_left %></td>
      <% if train.seats_left > 0 %>
        <td><%= link_to 'Book', book_tickets_path(train_id: train.id), method: :post %></td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>

<h2>Search Reviews by User</h2>
<%= form_with url: passenger_path(@passenger), method: :get, local: true do %>
  <%= text_field_tag :search_by_user_name %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:search_by_user_name].present? %>
  <h3>Reviews by <%= params[:search_by_user_name] %></h3>
  <% if @reviews_by_user.any? %>
    <ul>
      <% @reviews_by_user.each do |review| %>
        <li>
          Train Number: <%= review.train.train_number %> ｜
          Review: <%= review.feedback %> ｜
          Rating: <%= review.rating %>/5
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No reviews found.</p>
  <% end %>
<% end %>

<h2>Search Reviews by Train Number</h2>
<%= form_with url: passenger_path(@passenger), method: :get, local: true do %>
  <%= text_field_tag :search_by_train_number %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:search_by_train_number].present? %>
  <h3>Reviews for Train Number <%= params[:search_by_train_number] %></h3>
  <% if @reviews_for_trains.any? && @reviews_for_trains.first[:reviews].any? %>
    <ul>
      <% @reviews_for_trains.first[:reviews].each do |review| %>
        <li><%= review.feedback %> - <%= review.rating %>/5</li>
      <% end %>
    </ul>
  <% else %>
    <p>No reviews found.</p>
  <% end %>
<% end %>

<%= link_to 'My Trips', my_trips_passenger_path(@passenger) %>