<%= form_with(model: train) do |form| %>
  <% if train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
        <% train.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :train_number %>
    <%= form.text_field :train_number %>
  </div>

  <div class="field">
    <%= form.label :departure_station %>
    <%= form.text_field :departure_station %>
  </div>

  <div class="field">
    <%= form.label :termination_station %>
    <%= form.text_field :termination_station %>
  </div>

  <div class="field">
    <%= form.label :departure_date %>
    <%= form.date_select :departure_date %>
  </div>

  <div class="field">
    <%= form.label :departure_time %>
    <%= form.time_select :departure_time %>
  </div>

  <div class="field">
    <%= form.label :arrival_date %>
    <%= form.date_select :arrival_date %>
  </div>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.time_select :arrival_time %>
  </div>

  <div class="field">
    <%= form.label :ticket_price %>
    <%= form.text_field :ticket_price %>
  </div>

  <div class="field">
    <%= form.label :train_capacity %>
    <%= form.number_field :train_capacity %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
