<p id="notice"><%= notice %></p>

<% if current_user %>
  <h1>Welcome, <%= current_user.name %>!</h1>

  <%= link_to 'Edit Profile', edit_passenger_path(current_user) %><br>

  <%= link_to 'Logout', logout_path %><br>
<% else %>
  <h1>Login with your credentials</h1>
  <%= link_to "Signup", signup_path %> or
  <%= link_to "Login", login_path %>
<% end %>
