<p id="notice"><%= notice %></p>
<h1>Admin</h1>
<br><br>
<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @admin.phone_number %>
</p>
<p>
  <strong>Address:</strong>
  <%= @admin.address %>
</p>
<p>
  <strong>Credit number:</strong>
  <%= @admin.credit_number %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admin_path(current_user) %>