<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<%= link_to 'Show Admin Details', @admin %>
<br>
<br>
<br>
 <h4>Available Trains</h4>

  <table>
    <thead>
    <tr>
      <th>Train Number</th>
      <th>Departure Station</th>
      <th>Termination Station</th>
      <th>Departure Date</th>
      <th>Departure Time</th>
      <th>Arrival Date</th>
      <th>Arrival Time</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.train_number %></td>
        <td><%= train.departure_station %></td>
        <td><%= train.termination_station %></td>
        <td><%= train.departure_date %></td>
        <td><%= train.departure_time %></td>
        <td><%= train.arrival_date %></td>
        <td><%= train.arrival_time %></td>
        <td><%= link_to 'Show', train %></td>
        <td><%= link_to 'Edit', edit_train_path(train) %></td>
        <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
<br>
<%= link_to 'Add New Trainss', new_train_path %>
<br>
<br>
<br>
 <h4>Available Passengers</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Credit number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.email %></td>
        <td><%= passenger.phone_number %></td>
        <td><%= passenger.address %></td>
        <td><%= passenger.credit_number %></td>
        <td><%= link_to 'Show', passenger %></td>
        <td><%= link_to 'Edit', edit_passenger_path(passenger) %></td>
        <td><%= link_to 'Destroy', passenger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add New Passengers', new_passenger_path %>
<br>
<%= link_to 'Logout', logout_path %>
<br>

