<h4>Available Passengers</h4>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.email %></td>
        <td><%= passenger.phone_number %></td>
        <td><%= passenger.address %></td>
        <td><%= link_to 'Edit', edit_passenger_path(passenger) %></td>
        <td><%= link_to 'Destroy', passenger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Add New Passengers', new_passenger_path %>
<br>
<br>
<%= link_to 'Back', admin_path(current_user) %>