 <h1>Available Trains</h1>
<br>
<%= form_with url: show_trains_admin_path(@admin), method: :get, local: true do %>
  <%= submit_tag "Refresh" %>
<% end %>
<br>
<br>
<h4>Search Trains by Destination and Termination Station</h4>
<%= form_with url: show_trains_admin_path(@admin), method: :get, local: true do %>
  <%= text_field_tag :search_by_departure,nil, placeholder: "Enter Departure Station" %>
  <%= text_field_tag :search_by_termination,nil, placeholder: "Enter Termination Station"%>
  <%= submit_tag "Search" %>
<% end %>
<br>
<br>



<table>
  <thead>
    <tr>
      <th>Train number</th>
      <th>Departure station</th>
      <th>Termination station</th>
      <th>Departure date</th>
      <th>Departure time</th>
      <th>Arrival date</th>
      <th>Arrival time</th>
      <th>Ticket price</th>
      <th>Train capacity</th>
      <th>Seats left</th>
      <th>Average Rating</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.train_number %></td>
        <td><%= train.departure_station %></td>
        <td><%= train.termination_station %></td>
        <td><%= train.departure_date %></td>
        <td><%= train.departure_time.strftime("%H:%M:%S %Z") %></td>
        <td><%= train.arrival_date %></td>
        <td><%= train.arrival_time.strftime("%H:%M:%S %Z") %></td>
        <td><%= train.ticket_price %></td>
        <td><%= train.train_capacity %></td>
        <td><%= train.seats_left %></td>
        <td><%= train.average_rating %></td>
        <td><%= link_to 'Edit', edit_train_path(train) %></td>
        <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add New Trains', new_train_path %>
<br>
<br>
<%= link_to 'Back', admin_path(@admin) %>