<h2>Enter Train Number</h2>
<%= form_with url: show_train_customers_admin_path(@admin), method: :get, local: true do %>
  <%= text_field_tag :search_train_customers %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:search_train_customers].present? %>
  <% if @train_passengers.present? %>
    <table>
  <thead>
    <tr>
      <th>Booked by</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @train_passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.email %></td>
        <td><%= passenger.phone_number %></td>
        <td><%= passenger.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No passengers available for this train.</p>
<% end %>
<% end %>

<%= link_to 'Back', admin_path(@admin) %>