<%= form_with url: show_reviews_admin_path(@admin), method: :get, local: true do %>
  <%= submit_tag "Refresh" %>
<% end %>
<h2>Search Reviews by User</h2>
<%= form_with url: show_reviews_admin_path(@admin), method: :get, local: true do %>
  <%= text_field_tag :search_by_user_name %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Search Reviews by Train Number</h2>
<%= form_with url: show_reviews_admin_path(@admin), method: :get, local: true do %>
  <%= text_field_tag :search_by_train_number %>
  <%= submit_tag "Search" %>
<% end %>



<% if params[:search_by_user_name].present? %>
    <h3>Reviews by <%= params[:search_by_user_name] %></h3>
    <% if !@reviews.any? %>
        <p>No reviews found.</p>
    <% end %>
<% end %>

<% if params[:search_by_train_number].present? %>
  <h4>Reviews for Train Number <%= params[:search_by_train_number] %></h4>
  <% if !@reviews.any? %>
        <p>No reviews found.</p>
    <% end %>
<% end %>

<% if @reviews.any?%>
    <ul>
        <% @reviews.each do |review| %>
        <li>
            Review Given by: <%= review.passenger.name %> |
            Train Number: <%= review.train.train_number %> |
            Review: <%= review.feedback %> |
            Rating: <%= review.rating %>/5 |
                    <%= link_to 'Edit', edit_review_path(review) %> |
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>

        </li>
        <% end %>
    </ul>
<% end %>


<br>
<br>

<%= link_to 'Create New Reviews', create_reviews_admin_path(@admin) %>
<br><br>
<%= link_to 'Back', admin_path(current_user) %>